{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Disposicion'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
    <div class="panel panel-default center-block">
        <div class="panel-heading">
            <h3 class="panel-title center-block">
                {{ 'views.new.creation'|trans({'%entity%': 'Disposicion'}, 'MWSimpleCrudGeneratorBundle') }}
            </h3>
        </div>
            
        <div class="panel-body">
 {{ form_start(form) }}
            <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.gestion,'Gestion')}}
                 </div>
                 <div class="col-md-4">
                     {{form_widget(form.gestion)}}
                 </div>
                 <div class="col-md-5"></div>
            </div>
            <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.tema,'Tematica')}}
                 </div>
                 <div class="col-md-4">
                     {{form_widget(form.tema)}}
                 </div>
                 <div class="col-md-5"></div>
            </div>
            <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.oficina,'Oficina')}}
                 </div>
                 <div class="col-md-4">
                     {{form_widget(form.oficina)}}
                 </div>
                 <div class="col-md-5"></div>
            </div>
            <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.fecha,'Fecha')}}
                 </div>
                 <div class="col-md-4">
                     {{form_widget(form.fecha)}}
                 </div>
                 <div class="col-md-5"></div>
            </div>
             <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.numero,'Número')}}
                 </div>
                 <div class="col-md-4">
                     {{form_widget(form.numero)}}
                 </div>
                 <div class="col-md-5"></div>
            </div>
            <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.descripcion,'Descripcion')}}
                 </div>
                 <div class="col-md-9">
                     {{form_widget(form.descripcion)}}
                 </div>  
            </div>
             <div class="row">
                 <div class="col-md-3">
                     {{form_label(form.estado,'¿Desea hacer pública esta disposición?')}}
                 </div>
                 <div class="col-md-9">
                     {{form_widget(form.estado)}}
                    
                 </div>
            </div>
            
            {{ form_rest(form) }}
        </div>


        </div>
    </div>

        <div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_disposicion') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}
    
{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>

    <script type="text/javascript">
    $('#home_backendbundle_disposicion_fecha').bootstrapMaterialDatePicker(
        { lang: "es",
        weekStart : 0, 
        time: false });
</script>
<script type="text/javascript">
    $('#home_backendbundle_disposicion_oficina').select2({
        minimumInputLength: 3,
        placeholder: "seleccione una oficina",
});
    </script>
{% endblock %}
