{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.new.creation'|trans({'%entity%': 'Disposicion'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    {% form_theme form 'MWSimpleCrudGeneratorBundle:widget:fields.html.twig' %}
<div>       
        <div class="panel panel-default center-block">
            <div class="panel-heading">
                <h3 class="panel-title center-block">
                    {{ 'views.new.creation'|trans({'%entity%': 'Disposicion'}, 'MWSimpleCrudGeneratorBundle') }}
                </h3>
            </div>
                
            <div class="panel-body">
            {% include 'HomeBackendBundle:Disposicion:form.html.twig' with { 'form' : form } %}
            </div>

            <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path('admin_disposicion') }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
            </a>
        </div>
    </div>
</div>
{% endblock %}
    
{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/mwsimplecrudgenerator/js/widget.js') }}"></script>
<script type="text/javascript">
    $('#home_backendbundle_disposicion_fecha').bootstrapMaterialDatePicker({
        lang: "es",
        weekStart : 0, 
        time: false
    });
    $('#home_backendbundle_disposicion_oficina').select2({
        minimumInputLength: 3,
        placeholder: "seleccione una oficina",
    });
</script>
{% endblock %}
