{% extends 'MWSimpleCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': 'Disposicion'}, 'MWSimpleCrudGeneratorBundle') }}
{% endblock %}

{% block page %}
    
 <div class="panel panel-default">
    <div class="panel-body">
        <h3>Disposicion</h3>
           
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Oficina</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.oficina}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Temática</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.tema}}
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Numero</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.numero}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Fecha</label>
                    </div>
                    <div class="col-md-5">
                            {{ entity.fecha |date('d-m-Y') }}
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Estado</label>
                    </div>
                    <div class="col-md-5">
                    {% if entity.estado == null%}
                        <p style="color: green"> Público </p>
                    {% else %}
                    <p style="color: red"> Privado </p>
                    {% endif %}
                </div>
                </div> 
                 <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Desripción</label>
                    </div>
                    <div class="col-md-5">
                        {{entity.descripcion}}
                    </div>
                </div>

               
        
    </div>

    </div>

<div class="col-lg-9">
    <div class="float-left col-lg-3">
        <a class="btn btn-info col-lg-11" href="{{ path('admin_disposicion') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">
        <a class="btn btn-primary col-lg-11" href="{{ path('admin_disposicion_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'MWSimpleCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
</div>
{% endblock %}
