<nav class="navbar navbar-material-blue-A900">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{path("disposicion")}}">Inicio</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{path("admin_disposicion")}}">Disposiciones</a></li>
        <li><a href="{{path("admin_gestion")}}">Gestiones</a></li>
        <li><a href="{{path("admin_tema")}}">Temas</a></li>
        <li><a href="{{path("admin_oficina")}}">Oficinas</a></li>
        <li><a href="{{path("admin_jurisdiccion")}}">Jurisdicciones</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">

                <span class="glyphicon glyphicon-user"></span> {{ app.user.username }}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{path("fos_user_security_logout")}}" class="mdi-image-edit"> Registrar Usuarios</a></li>
                <li><a href="{{path("fos_user_security_logout")}}" class="mdi-image-edit"> editar cuenta</a></li>
                 <li><a href="{{path("fos_user_security_logout")}}" class="mdi-image-edit">Cambiar Contraseña</a></li>
                <li><a href="{{path("fos_user_security_logout")}}" class="mdi-navigation-cancel">Salir</a></li>
              </ul>
            </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>