{% extends 'FOSUserBundle::header.html.twig' %}
{% set header_title = "Bienvenido al Panel de Administraci칩n" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{{ parent() }}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="row-fluid panel" style="background-color: rgba(245, 245, 245, 0.7);" align="center" >
        <h2>Sistema de Gesti칩n<br>
        de disposiciones de la Provincia del Chaco</h2>
            <div class="span5 offset4">
                {% if error %}
                  <div class="alert-error">
                    <p style="color:red">credenciales no v치lidas</p>
                  </div>
                {% endif %}
            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal" >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="control-group">
                    <label class="control-label" for="username">
                        {{ 'security.login.username'|trans }}
                    </label>
                    <div class="controls">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Ingrese usuario" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="password">
                        {{ 'security.login.password'|trans }}
                    </label>
                    <div class="controls">
                        <input type="password" id="password" name="_password" required="required" placeholder="Ingrese contrase침a"/>
                    </div>
                </div>
              
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" id="_submit" name="_submit" class="btn btn-primary" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </div>
            </form>
          </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock fos_user_content  %}